{# empty Twig template #}
{% import "form.macro.twig" as forms %}


<h1>{{ item.title }}</h1>

<div class="business-posted-date">
    <i class="fa fa-clock-o"></i> Posted:  {{ item.date_created|date('d M Y H:i') }} &nbsp;&nbsp;
</div>

<div>

    <div class="form-group">
        <label>Testimony</label><br>
        {{ item.testimony|raw }}
    </div>

</div>

<div> 
    <div class="clearfix"></div>
    <div class="well well-sm">Other Testimonies</div>
    <hr>
    <div class="testimonial-testimonies-listing">
        {% include "testimonial.list.twig" ignore missing with {'action': 'latest'}  %}
    </div>
    <div class="clearfix"></div>
    <br>
</div>
